/* CSS Document */

/* General Styles */
body { font-size: 12px; font-family: Verdana, Geneva, sans-serif; background-color: #000; color: #fff; }
div#wrapper { width: 70%; margin: 5% auto; }
div.clear { clear: both; width: 100%; }
hr { display: none; }

/* Definition Results XML Styling*/
result { display: block; clear: both; margin: 0 0 15px 15px; }
term { display: block; clear: both; font-weight: bold; }
definition { display: block; clear: both; }
example { display: block; clear: both; color: #ccc; }
partofspeech { display: block; clear: both; font-style: italic; }
synonym { display: block; clear: both; }
antonyms { display: none; }

/* Banner Form Styles */
div#banner { width: 95%; }
span#left { height: 86px; width: 19px; display: inline-block; background: url("../img/banner_left.png") left top no-repeat; position: relative; left: -19px; margin-right: -19px; float: left; }
span#right { height: 86px; width: 19px; display: inline-block; background: url("../img/banner_right.png") left top no-repeat; float: right; position: relative; left: 19px; }
div#form { display: inline-block; height: 86px; width: 100%; background: url("../img/banner_middle.png") left top repeat-x; }
span#logo { display: inline-block; width: 232px; height: 128px; background: url("../img/logo.png") left top no-repeat; text-indent: -9999px; position: relative; top: -8px; left: -40px; }
span#directions { font-size: 1.2em; color: #fff; display: inline-block; margin-right: 65px; }
span#button { display: inline-block; width: 65px; height: 64px; float: right; text-indent: -9999px; background: url("../img/go.png") left top no-repeat; position: relative; left: 18px; text-align: left; margin-top: -2em; cursor: pointer; }
div#fields { display: inline-block; text-align: right; float: right; margin-top: 10px; }
span#tagline { width: 440px; height: 14px; background: url("../img/tagline.png") left top no-repeat; display: inline-block; text-indent: -9999px; margin-left: 50px; }
div#definitions { margin-top: 25px; width: 95%; }

#imageresults ul { list-style: none; }
#imageresults li { border: 5px solid #fff; border-bottom-width: 25px; padding: 5px; float: left; vertical-align: middle; margin: 10px; display: inline-block; height: 200px; line-height: 200px; width: 200px; text-align: center; background-color: #333; }
#imageresults li img {  }
#morelink { padding: 3px 6px; border: 1px solid #666; background-color: #00f; color: #fff; font-weight: bold; cursor: pointer; }
span.error { color: #06F; font-weight: normal; clear: both; display: block; margin-left: 25px; margin-top: 10px; }
#footer { font-size: .8em; text-align: center; }